<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moerlong.youfen.dao.PerDishSampleDao" >
  <resultMap id="BaseResultMap" type="com.moerlong.youfen.pojo.PerDishSample" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="dish_id" property="dishId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="case_time" property="caseTime" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="match_ratio" property="matchRatio" jdbcType="VARCHAR" />
    <result column="data_type" property="dataType" jdbcType="VARCHAR" />
    <result column="opration_user" property="oprationUser" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.moerlong.youfen.pojo.PerDishSample" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dish_id, name, id_card, case_time, title, match_ratio, data_type, opration_user, 
    create_time, last_modify_time, is_deleted
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from per_dish_sample
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectByNameAndIdCard"  resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from per_dish_sample
        where name = #{name,jdbcType=VARCHAR} and id_card =#{idCard} and is_deleted=1
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from per_dish_sample
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.moerlong.youfen.pojo.PerDishSample" >
    insert into per_dish_sample (id, dish_id, name, 
      id_card, case_time, title, 
      match_ratio, data_type, opration_user, 
      create_time, last_modify_time, is_deleted, 
      content)
    values (#{id,jdbcType=BIGINT}, #{dishId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{idCard,jdbcType=VARCHAR}, #{caseTime,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{matchRatio,jdbcType=VARCHAR}, #{dataType,jdbcType=VARCHAR}, #{oprationUser,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastModifyTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.moerlong.youfen.pojo.PerDishSample" >
    insert into per_dish_sample
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dishId != null" >
        dish_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="caseTime != null" >
        case_time,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="matchRatio != null" >
        match_ratio,
      </if>
      <if test="dataType != null" >
        data_type,
      </if>
      <if test="oprationUser != null" >
        opration_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dishId != null" >
        #{dishId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="caseTime != null" >
        #{caseTime,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="matchRatio != null" >
        #{matchRatio,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="oprationUser != null" >
        #{oprationUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null" >
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.moerlong.youfen.pojo.PerDishSample" >
    update per_dish_sample
    <set >
      <if test="dishId != null" >
        dish_id = #{dishId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="caseTime != null" >
        case_time = #{caseTime,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="matchRatio != null" >
        match_ratio = #{matchRatio,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        data_type = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="oprationUser != null" >
        opration_user = #{oprationUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.moerlong.youfen.pojo.PerDishSample" >
    update per_dish_sample
    set dish_id = #{dishId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      case_time = #{caseTime,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      match_ratio = #{matchRatio,jdbcType=VARCHAR},
      data_type = #{dataType,jdbcType=VARCHAR},
      opration_user = #{oprationUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.moerlong.youfen.pojo.PerDishSample" >
    update per_dish_sample
    set dish_id = #{dishId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      case_time = #{caseTime,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      match_ratio = #{matchRatio,jdbcType=VARCHAR},
      data_type = #{dataType,jdbcType=VARCHAR},
      opration_user = #{oprationUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>